.activity-show-ent-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.activity-show-container {
    /* border: 1px solid #d8d8dd; */
    width: 800px;
    margin-bottom: 50px;
}

.activity-show-top {
    border-bottom: 1px solid #d8d8dd;
    margin-bottom: 10px;
}

.activity-badge-and-name {
    display: flex;
    background-color: #e6e6ed;
    border: 1px solid #d8d8dd;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.activity-show-user-name {
    font-size: 20px;
    padding-left: 15px;
}

.activity-show-row {
    display: flex;
    justify-content:left;
    border-right: 1px solid #d8d8dd;
    border-left: 1px solid #d8d8dd;
    border-bottom: 1px solid #d8d8dd;;
}

.activity-show-left {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-right: 1px solid #d8d8dd;
    width: 60%;
    justify-content: space-left;
}

.activity-show-icon {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

/* .activity-show-text-container {

} */

.activity-show-postedon {
    font-size: 11px;
}

.activity-show-title {
    font-size: 20px;
    font-weight: bold;
}

.activity-show-body {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.activity-show-right {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 50%;
}

.activity-num-container {
    padding-left: 15px;
}

.activity-show-num {
    font-size: 20px;
}

.activity-show-label {
    font-size: 12px;
}

.activity-map-and-chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.activity-map-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid #d8d8dd;
}

.activity-chart-container {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    border: 1px solid #d8d8dd;
}

.activity-tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d8d8dd;
    margin-right: 10px;
    width: 125px;
    height: 50px;
    cursor: pointer;
}

.tool-container, .tool-container-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tool-container-edit {
    border-right: 1px solid #d8d8dd;
}

img.edit-tool, img.delete-tool {
    width: 23px;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.tool-container:hover, .tool-container-edit:hover {
    background-color: #d5d5da;
    border: 1px solid #d5d5da;
}