.dashboard-ent-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background-color: #f7f7fa;
    padding-bottom: 60px;
}

.dashboard-user-and-myinfo-container {
    display: block;
}

.dashboard-ent-mid-container {
    max-width: 38rem;
}

.dashboard-img-container {
    margin-top: 10px;
    padding-bottom: 5px;
    background: white;
    box-shadow: 0px 2px 20px rgba(13, 13, 18, 0.2);
    border-radius: 4px;
}

.dashboard-mid-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    white-space: none;
}

.dashboard-icon-and-text-container {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dashboard-mid-icon {
    width: 80px;
    height: 80px;
}

.dashboard-header-text {
    height: 100%;
    width: 450px;
}

.dashboard-title {
    text-align: top;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.dashboard-text {
    font-size: 13px;
    text-align: top;
}

/* DROPDOWN FOR FOLLOWING/ACTIVITIES */

.dashboard-dropdown {
    position: relative;
    display: inline-block;
}

.dashboard-following {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.dashboard-following:hover, .dashboard-following:focus {
    background: white;
    box-shadow: 0px 2px 20px rgba(13, 13, 18, 0.2);
}

.dashboard-dropdown-content {
    display: none;
    position: absolute;
    margin-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 119px;
    z-index: 1;
    background: white;
    box-shadow: 0px 2px 20px rgba(13, 13, 18, 0.2);
}

.dashboard-dropdown-content > p > a{
    text-align: center;
    font-size: 14px;
    display: block;
    color:black;
    position: relative;
}

.dashboard-dropdown:hover .dashboard-dropdown-content {
    display: block;
}