.footer-ent-container {
    /* box-shadow: 0 50vh 0 50vh #000; */
}

.footer-container {
    margin-top: 20px;
    background-color: #242428;
    display: flex;
    justify-content: space-between;
}

.footer-container > h1 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 40px;
}

.footer-onlinepresence-container {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.footer-onlinepresence-container > li > a {
    color: white;
    padding-left: 10px;
}

.footer-onlinepresence-container > li > a:hover {
    color: gray;
}