.footer-container {
    background-color: #242428;
    display: flex;
    justify-content: space-between;
}

.footer-container > h1 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
}

.footer-onlinepresence-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.footer-onlinepresence-container > li > a {
    color: white;
    padding-left: 10px;
}

.footer-onlinepresence-container > li > a:hover {
    color: gray;
}