.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f0f0f5;
    height: 50px;
}

.nav-bar {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: inherit;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .nav-bar-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 70px;
    border: 1px solid #dfdfe8;
    background-color: aqua;
    border-radius: 3px;
    cursor: pointer;
} */

.nav-bar-btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 70px;
    color: #242428;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #dfdfe8;
    border-radius: 3px;
    cursor: pointer;
}

.nav-bar-btn-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 70px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #fc5200;
    background-color: #fc5200;
    border-radius: 3px;
    cursor: pointer;
}

.nav-bar-title a {
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fc5200;
    font-weight: bolder;
    font-size: 24px;
    /* cursor: wait; */
}

.nav-bar-dropdown {
    position: relative;
    display: inline-block;
}

/* .nav-bar-dropdown-btn {

} */

.nav-bar-dropdown-container {
    display: none;
    position: absolute;
    width: 150px;
    z-index: 1;
}

.nav-bar-dropdown-link {
    font-size: 13px;
}

.nav-bar-dropdown:hover .nav-bar-dropdown-container {
    display: block;
}