.myinfo-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 25px;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(13, 13, 18, 0.2);
    width: 250px;
    height: fit-content;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.myinfo-container-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 25px;
    background-color: white;
    box-shadow: 0px 2px 20px rgba(13, 13, 18, 0.2);
    width: 250px;
    height: fit-content;
    position: relative;
    top: 73px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.myinfo-icon-and-label-inner-container {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    justify-content: center;
}

.myinfo-icon-and-label-inner-container > a > img {
    width: 50px;
    height: auto;
}

.myinfo-icon-and-label-inner-container > a {
    color:black;
}

.myinfo-icon-and-label-inner-container > a:hover {
    color:#fc5200;
}